etl/ares/example_data/ares_answer_vreo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:are="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_answer_vreo/v_1.0.0" targetNamespace="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_answer_vreo/v_1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<xsd:element name="Ares_odpovedi">
		<xsd:annotation>
			<xsd:documentation>Kořenový element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Odpoved" type="are:OdpovedVrEo" maxOccurs="unbounded"/>
				<xsd:element name="Fault" type="are:ChybovaOdpoved" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="odpoved_datum_cas" type="xsd:dateTime" use="required"/>
			<xsd:attribute name="odpoved_pocet" type="xsd:int" use="required"/>
			<xsd:attribute name="odpoved_typ" type="are:AresDotazTyp" fixed="Vypis_VREO"/>
			<xsd:attribute name="vystup_format" type="are:VystupFormatEnum" use="optional" default="XML"/>
			<xsd:attribute name="xslt" type="are:xslt_ks" use="optional" default="klient"/>
			<xsd:attribute name="validation_XSLT" type="xsd:string" use="required"/>
			<xsd:attribute name="Id" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="OdpovedVrEo">
		<xsd:sequence>
			<xsd:element name="Pomocne_ID" type="xsd:int"/>
			<xsd:element name="Error" type="are:ErrorARES" minOccurs="0"/>
			<xsd:element name="Vysledek_hledani" type="are:VysledekHledani"/>
			<xsd:element name="Pocet_zaznamu" type="xsd:int"/>
			<xsd:element name="Vypis_VREO" type="are:VypisVrEo" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VypisVrEo">
		<xsd:annotation>
			<xsd:documentation>Elektronický opis veřejného rejstříku dle Zákona č. 304/2013 Sb. v § 7</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Uvod" type="are:UvodTyp" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> Název výpisu, datum a čas výpisu, datum aktualizace datového obsahu DB VR</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Zakladni_udaje" type="are:ZakladniUdajeVr">
				<xsd:annotation>
					<xsd:documentation>Zákon č. 304/2013 Sb. v §7
					a)jméno,
					b)den vzniku právnické osoby, den jejího zrušení s uvedením právního důvodu a den jejího zániku,
					c)sídlo, adresu místa pobytu, popřípadě také bydliště, liší-li se od adresy místa pobytu,
					d)identifikační číslo osoby, bylo-li jí přiděleno,
					e)účel nebo předmět činnosti,
					i)status veřejné prospěšnosti, byl-li jí zapsán, a
					j)označení rejstříku, ve kterém je osoba zapsána.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Statutarni_organ" type="are:UdajTypuStatutar" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Zákon č. 304/2013 Sb. v § 7 
					f)jméno, adresu sídla nebo místa pobytu, popřípadě také bydliště, liší-li se od adresy místa pobytu, 
					každého člena statutárního orgánu spolu s uvedením způsobu, jakým právnickou osobu zastupuje, 
					a den vzniku a zániku výkonu funkce
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Jiny_organ" type="are:UdajTypuAngazma" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Zákon č. 304/2013 Sb. v § 7,
					g)členství v právnické osobě a její jméno, je-li členem právnické osoby,
					h)členství v orgánu právnické osoby a její jméno, je-li členem orgánu právnické osoby
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UvodTyp">
		<xsd:sequence>
			<xsd:element name="Nadpis" type="are:String255" minOccurs="0"/>
			<xsd:element name="Aktualizace_DB" type="xsd:date" minOccurs="0"/>
			<xsd:element name="Datum_vypisu" type="xsd:date" minOccurs="0"/>
			<xsd:element name="Cas_vypisu" type="xsd:time" minOccurs="0"/>
			<xsd:element name="Typ_vypisu" type="are:String255" minOccurs="0"/>
			<xsd:element name="Pozadovane_datum_platnosti_dat" type="xsd:date" minOccurs="0"/>
			<xsd:element name="Typ_odkazu" type="are:String255" minOccurs="0"/>
			<xsd:element name="Typ_odpovedi" type="are:String255" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Udaj">
		<xsd:attribute name="dza" type="xsd:date">
			<xsd:annotation>
				<xsd:documentation>Datum zápisu</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="dvy" type="xsd:date">
			<xsd:annotation>
				<xsd:documentation>Datum výmazu</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ZakladniUdajeVr">
		<xsd:sequence>
			<xsd:element name="Rejstrik" type="are:RejstrikyEnum" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Kód rejstříku</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ICO" type="are:IcoTyp" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifikace ekonomického subjektu</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ObchodniFirma" type="are:ObchodniFirmaTyp" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Název ekonomického subjektu</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PravniForma" type="are:PravniFormaTyp" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Právní forma  ekonomického subjektu dle číselníku ROS</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Sidlo" type="are:AdresaTyp" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Sídlo ekonomického subjektu</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Bydliste" type="are:AdresaTyp" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Bydliiště fyzické osoby</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Pobyt" type="are:AdresaTyp" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Pobyt fyzické osoby v ČR</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DatumVzniku" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Datum vzniku subjektu</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DatumZapisu" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Datum zápisu subjektu do rejstříku </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DatumVymazu" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Datum výmazu subjektu z rejstříku</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DuvodVymazu" type="are:TextTyp" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Právní důvod výmazu subjektu z rejstříku</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StatusVerejneProspesnosti" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Status veřejné prospěšnosti </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Cinnosti" type="are:CinnostiTyp" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Činnost, předmět podnikání, účel subjsktu</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ChybovaOdpoved">
		<xsd:annotation>
			<xsd:documentation xml:lang="cs">Chybová odpověď v elementu Fault</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="faultcode" type="are:String255" minOccurs="0"/>
			<xsd:element name="faultstring" type="are:String255" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CinnostiTyp">
		<xsd:annotation>
			<xsd:documentation>Specifikace činností všech typů</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PredmetPodnikani" type="are:TextTyp" minOccurs="0"/>
			<xsd:element name="DoplnkovaCinnost" type="are:TextTyp" minOccurs="0"/>
			<xsd:element name="PredmetCinnosti" type="are:TextTyp" minOccurs="0"/>
			<xsd:element name="Ucel" type="are:TextTyp" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ErrorARES">
		<xsd:annotation>
			<xsd:documentation xml:lang="cs">Definice elementu obecné chyby dotazu v ARES</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Error_kod" type="are:ErrorKodAresEnum"/>
			<xsd:element name="Error_text" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UdajTypuAngazma">
		<xsd:complexContent>
			<xsd:extension base="are:Udaj">
				<xsd:sequence>
					<xsd:element name="Nazev" type="are:String255" minOccurs="0"/>
					<xsd:element name="Clen" type="are:UdajTypuAngazmaOsoba" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UdajTypuStatutar">
		<xsd:complexContent>
			<xsd:extension base="are:Udaj">
				<xsd:sequence>
					<xsd:element name="Nazev" type="are:String255" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Název statutarního orgánu</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ZpusobJednani" type="are:ZpusobJednaniTyp" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Způsob jednání  za společnost</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Clen" type="are:UdajTypuAngazmaOsoba" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Člen statutárního orgánu</xsd:documentation>
						</xsd:annotation>
						</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UdajTypuAngazmaClenstvi">
		<xsd:complexContent>
			<xsd:extension base="are:Udaj">
				<xsd:sequence>
					<xsd:element name="clenstvi" type="are:ClenstviTyp" minOccurs="0"/>
					<xsd:element name="funkce" type="are:FunkceTyp" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UdajTypuAngazmaOsoba">
		<xsd:complexContent>
			<xsd:extension base="are:UdajTypuAngazmaClenstvi">
				<xsd:sequence>
					<xsd:element name="posoba" type="are:PravnickaOsobaTyp" minOccurs="0"/>
					<xsd:element name="fosoba" type="are:FyzickaOsobaTyp" minOccurs="0"/>
					<xsd:element name="skrytyUdaj" type="are:TextTyp" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UdajTypuAngazmaFyzicke">
		<xsd:complexContent>
			<xsd:extension base="are:UdajTypuAngazmaClenstvi">
				<xsd:sequence>
					<xsd:element name="fosoba" type="are:FyzickaOsobaTyp" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PravnickaOsobaTyp">
		<xsd:complexContent>
			<xsd:extension base="are:OsobaTyp">
				<xsd:sequence>
					<xsd:element name="ICO" type="are:IcoTyp" minOccurs="0"/>
					<xsd:element name="ObchodniFirma" type="are:ObchodniFirmaTyp" minOccurs="0"/>
					<xsd:element name="PravniForma" type="are:PravniFormaTyp" minOccurs="0"/>
					<xsd:element name="Zastoupeni" type="are:UdajTypuAngazmaFyzicke" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Fyzická osoba zastupující právnickou osobu - člena statutárního orgánu</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FyzickaOsobaTyp">
		<xsd:complexContent>
			<xsd:extension base="are:OsobaTyp">
				<xsd:sequence>
					<xsd:element name="jmeno" type="are:String255" minOccurs="0"/>
					<xsd:element name="prijmeni" type="are:String255" minOccurs="0"/>
					<xsd:element name="datumNarozeni" type="xsd:date" minOccurs="0"/>
					<xsd:element name="rodneCislo" type="are:String32" minOccurs="0"/>
					<xsd:element name="obcanstvi" type="are:String32" minOccurs="0"/>
					<xsd:element name="titulPred" type="are:String255" minOccurs="0"/>
					<xsd:element name="titulZa" type="are:String255" minOccurs="0"/>
					<xsd:element name="bydliste" type="are:AdresaTyp" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OsobaTyp">
		<xsd:sequence>
			<xsd:element name="adresa" type="are:AdresaTyp" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ClenstviTyp">
		<xsd:sequence>
			<xsd:element name="vznikClenstvi" type="xsd:date" minOccurs="0"/>
			<xsd:element name="zanikClenstvi" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FunkceTyp">
		<xsd:sequence>
			<xsd:element name="nazev" type="are:String255" minOccurs="0"/>
			<xsd:element name="vznikFunkce" type="xsd:date" minOccurs="0"/>
			<xsd:element name="zanikFunkce" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VysledekHledani">
		<xsd:annotation>
			<xsd:documentation xml:lang="cs">Definice elementu výsledku  hledání IČO pro seznam registrů a výpis z OR</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Kod" type="are:KodVyhledaniEnum"/>
			<xsd:element name="Datum_vzniku" type="xsd:date" minOccurs="0"/>
			<xsd:element name="Text" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ZpusobJednaniTyp">
		<xsd:complexContent>
			<xsd:extension base="are:Udaj">
				<xsd:sequence>
					<xsd:element name="Text" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PravniFormaTyp">
		<xsd:annotation>
			<xsd:documentation xml:lang="cs">Právní forma včetně popisných položek</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Kod_PF" type="are:KodPravniFormyTyp" minOccurs="0"/>
			<xsd:element name="Nazev_PF" type="are:NazevPravniFormyTyp" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="AresDotazTyp">
		<xsd:annotation>
			<xsd:documentation xml:lang="cs">Typ dotazu na registr ARES</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Vypis_VREO" id="elektronicky_opis_VR"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ErrorKodAresEnum">
		<xsd:annotation>
			<xsd:documentation xml:lang="cs">Základ seznamu chybových kódů dotazů pro ARES naplnení elementu (Fault)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:byte">
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="cs">Na zadaný Dotaz by se vrátilo více odpovědí, než odpovídá parametru max_pocet. Případně bližší popis chyby je uveden v dalším textu chybové hlášky.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation xml:lang="cs">dokument neodpovídá schématu (non valid dokument)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="3">
				<xsd:annotation>
					<xsd:documentation xml:lang="cs">syntaktická chyba dokumentu (non well-formed dokument)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="4">
				<xsd:annotation>
					<xsd:documentation xml:lang="cs">chyba na straně poskytující aplikace (nepřístupná databáze, jiná chyba zpracování)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="5">
				<xsd:annotation>
					<xsd:documentation xml:lang="cs">status věty neuveden</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="6">
				<xsd:annotation>
					<xsd:documentation xml:lang="cs">chyba SQL dotazu</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="7">
				<xsd:annotation>
					<xsd:documentation xml:lang="cs">chyba logických vazeb vstupních dat v dotazu</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="8">
				<xsd:annotation>
					<xsd:documentation xml:lang="cs">nekonzistence dat v databázi</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="9">
				<xsd:annotation>
					<xsd:documentation xml:lang="cs">Nepodporovaná verze dotazu</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="10">
				<xsd:annotation>
					<xsd:documentation xml:lang="cs">Záznam je u Obchodního rejstříku přepisován. Nebude vystavováno.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="11">
				<xsd:annotation>
					<xsd:documentation xml:lang="cs">Požadovaná služba není veřejně přístupná.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="99">
				<xsd:annotation>
					<xsd:documentation xml:lang="cs">ostatní chyby</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IcoTyp">
		<xsd:annotation>
			<xsd:documentation xml:lang="cs">IČ ekonomického subjektu</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
			<xsd:minLength value="8"/>
			<xsd:pattern value="\d{8}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="KodPravniFormyTyp">
		<xsd:annotation>
			<xsd:documentation xml:lang="cs">Kód právní formy ekonomického subjektu</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:short">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="KodVyhledaniEnum">
		<xsd:annotation>
			<xsd:documentation xml:lang="cs">Kód nalezení IČO pro seznam registrů</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:int">
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="cs">záznam nalezen</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation xml:lang="cs">záznam nenalezen</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="3">
				<xsd:annotation>
					<xsd:documentation xml:lang="cs">záznam nenalezen, ale pro zadané (Datum_vzniku) existuje záznam</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RejstrikyEnum">
		<xsd:annotation>
			<xsd:documentation xml:lang="cs">Kód veřejného rejstříku</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="OR">
				<xsd:annotation>
					<xsd:documentation xml:lang="cs">Obchodní rejstřík</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NR">
				<xsd:annotation>
					<xsd:documentation xml:lang="cs">Nadační rejstřík</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ROPS">
				<xsd:annotation>
					<xsd:documentation xml:lang="cs">Rejstřík obecně prospěšných společností</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RSVJ">
				<xsd:annotation>
					<xsd:documentation xml:lang="cs">Rejstříkspolečenství vlastníků jednotek</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RU">
				<xsd:annotation>
					<xsd:documentation xml:lang="cs">Rejstřík ústavů</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SR">
				<xsd:annotation>
					<xsd:documentation xml:lang="cs">Spolkový rejstřík</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NazevPravniFormyTyp">
		<xsd:annotation>
			<xsd:documentation xml:lang="cs">Název právní formy</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ObchodniFirmaTyp">
		<xsd:annotation>
			<xsd:documentation xml:lang="cs">název obchodní firmy</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TextTyp">
		<xsd:annotation>
			<xsd:documentation xml:lang="cs">Obecný text</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="are:Udaj">
				<xsd:sequence>
					<xsd:element name="Text" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="String255">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String32">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VystupFormatEnum">
		<xsd:annotation>
			<xsd:documentation xml:lang="cs">Výstupní formát dokumentu, vraceného z příslušného registru</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="XML"/>
			<xsd:enumeration value="HTML"/>
			<xsd:enumeration value="XHTML"/>
			<xsd:enumeration value="TEXT"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="xslt_ks">
		<xsd:annotation>
			<xsd:documentation xml:lang="cs">Definice, kde se budou dělat transformace z xml, zda na počítači klienta nebo na serveru</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="klient"/>
			<xsd:enumeration value="server"/>
			<xsd:enumeration value="savexml"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AdresaTyp">
		<xsd:sequence>
			<xsd:element name="ruianKod" type="xsd:int" minOccurs="0"/>
			<xsd:element name="stat" type="are:String32" minOccurs="0"/>
			<xsd:element name="psc" type="are:String255" minOccurs="0"/>
			<xsd:element name="okres" type="are:String255" minOccurs="0"/>
			<xsd:element name="obec" type="are:String255" minOccurs="0"/>
			<xsd:element name="castObce" type="are:String255" minOccurs="0"/>
			<xsd:element name="mop" type="are:String255" minOccurs="0"/>
			<xsd:element name="ulice" type="are:String255" minOccurs="0"/>
			<xsd:element name="cisloPop" type="are:String255" minOccurs="0"/>
			<xsd:element name="cisloOr" type="are:String255" minOccurs="0"/>
			<xsd:element name="cisloEv" type="are:String255" minOccurs="0"/>
			<xsd:element name="cisloTxt" type="are:String255" minOccurs="0"/>
			<xsd:element name="text" type="are:String255" minOccurs="0"/>
			<xsd:element name="doplnujiciText" type="are:String255" minOccurs="0"/>
			<xsd:element name="dorucovaciCislo" type="are:String255" minOccurs="0"/>
			<xsd:element name="skrytyUdaj" type="are:TextTyp" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
